.images {
  background: linear-gradient(0deg, #00a479, #018025, #755101, #b37b00);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 59s ease infinite;
  -moz-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite;

  color: rgb(248, 188, 77);

  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  grid-template-rows: 1fr;
  grid-gap: 2rem;

  &__image-1 {
    background-color: #00a479;
    width: 50rem;
    height: 50rem;
    position: relative;
    display: grid;
    align-items: center;
    justify-self: center;
    margin: 2rem;

    overflow: hidden;

    img {
      width: 100%;
      transition: all 0.5s cubic-bezier(0.56, -0.72, 0.26, 1.45);
    }

    &-img-caption-1 {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 3rem 5rem;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.56, -0.72, 0.16, 0.66);
      background: rgba(0, 0, 0, 0);

      h1 {
        text-transform: uppercase;
        margin: 0;
      }

      p {
        font-size: 1.8rem;
        text-transform: capitalize;
        margin-top: 2rem;
      }

      &:hover {
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
      }
    }

    &:hover img {
      transform: scale(1.3) rotate(15deg);
    }
  }

  &__image-2 {
    background-color: #014432;
    width: 50rem;
    height: 50rem;
    position: relative;
    display: grid;
    align-items: center;
    justify-self: center;
    margin: 2rem;

    overflow: hidden;

    img {
      width: 100%;
      transition: all 0.5s cubic-bezier(0.56, -0.72, 0.26, 1.45);
    }

    &-img-caption-2 {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 3rem 5rem;

      transition: all 0.5s cubic-bezier(0.06, 0.5, 0.13, 0.94);
      background: rgba(0, 0, 0, 0);
      transform: translateX(-100%);

      h1 {
        text-transform: uppercase;
        margin: 0;
      }

      p {
        font-size: 1.8rem;
        text-transform: capitalize;
        margin-top: 2rem;
      }
    }

    &:hover img {
      transform: rotate(-15deg) scale(1.3);
    }

    &:hover &-img-caption-2 {
      background-color: rgba(0, 0, 0, 0.5);
      transform: translateX(0);
    }
  }

  &__image-3 {
    background-color: #014432;
    width: 50rem;
    height: 50rem;
    position: relative;
    display: grid;
    align-items: center;
    justify-self: center;
    margin: 2rem;

    overflow: hidden;

    img {
      width: 100%;
      transition: all 0.5s;
    }

    &-img-caption-3 {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 3rem 5rem;
      transition: all 0.5s;
      background-color: black;
      transform: translateX(-100%);

      h1 {
        text-transform: uppercase;
        margin: 0;
      }

      p {
        font-size: 1.8rem;
        text-transform: capitalize;
        margin-top: 2rem;
      }
    }

    &:hover img {
      transform: translateX(100%);
    }

    &:hover &-img-caption-3 {
      transform: translateX(0);
    }
  }
  &__image-4 {
    background-color: #014432;
    width: 50rem;
    height: 50rem;
    position: relative;
    display: grid;
    align-items: center;
    justify-self: center;
    margin: 2rem;
    background: transparent;
    overflow: hidden;

    img {
      width: 100%;
      transition: all 0.5s;
    }

    &-img-caption-4 {
      position: absolute;
      bottom: 0%;
      left: 0;
      height: 30%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 3rem 5rem;
      transition: all 0.5s;
      background-color: black;
      transform: translateY(100%);

      h1 {
        text-transform: uppercase;
        margin: 0;
      }

      p {
        font-size: 1.8rem;
        text-transform: capitalize;
        margin-top: 2rem;
      }
    }

    &:hover img {
      transform: translateY(-30%);
    }

    &:hover &-img-caption-4 {
      transform: translateY(0);
    }
  }
  &__image-5 {
    background-color: #5e644a;
    width: 50rem;
    color: white;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-self: center;
    position: relative;
    overflow: hidden;

    &-img-5 {
      width: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #006266;
      opacity: 0.5;
      border-radius: 10px;
      transform: translateY(100%);
      transition: all 0.5s cubic-bezier(0.17, 0.67, 0, 0.94);
      transition-delay: 0.5s;
    }

    &:hover:before {
      transform: translateY(0);
      transition-delay: 0s;
    }

    &--caption {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(-20px);
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.94, 0.08, 0.36, 0.25);

      &:hover {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.3s;
      }
    }

    h3,
    h5 {
      margin: 0;
      letter-spacing: 1px;
    }

    h3 {
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 5px;
    }
    h5 {
      background-color: #ae895d;
      padding: 3px 5px;
    }
  }
  &__image-6 {
    background-color: #98a7a3;
    margin: 10% 0;
    border: 4px solid white;
    display: grid;
    align-items: center;
    justify-self: center;
    position: relative;
    overflow: hidden;

    &-img-6 {
      width: 30rem;
      height: 40rem;

      transition: transform 1s;
      overflow: hidden;

      &:hover {
        transform: scale(1.2) rotate(9deg);
      }
    }
  }

  &__image-7 {
    background-color: #da03f721;
    width: 45rem;
    height: 30rem;

    display: grid;
    align-items: center;
    justify-self: center;
    position: relative;
    overflow: hidden;

    &-img-7 {
      width: 100%;
    }

    &--caption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: white;
      text-transform: uppercase;
    }

    h2 {
      text-align: center;
      font-size: 1.7rem;
      padding: 2rem;
      margin-top: 2rem;
      background-color: rgba($color: #000000, $alpha: 0.8);
      transform: translate(20rem, -20rem);
      transition: all 0.4s cubic-bezier(0.23, 1.86, 0.71, 0.17);
    }

    &:hover h2 {
      transform: translate(0, 0);
      transition-delay: 0.3s;
    }

    p {
      font-size: 1.5rem;
      width: 80%;
      align-self: center;
      text-align: center;
      transition: all 0.5s cubic-bezier(0.23, 1.86, 0.59, 1.09);
      transform: translate(-20rem, 20rem);
    }

    &:hover p {
      transform: translate(0, 0);
      transition-delay: 0.4s;
    }

    a {
      text-decoration: none;
      background-color: black;
      color: white;
      width: 20rem;
      padding: 1.5rem;
      margin-bottom: 2rem;
      align-self: center;
      text-align: center;
      transition: all 0.5s cubic-bezier(0.23, 1.86, 0.69, -0.52);
      transform: translateY(10rem);
    }

    &:hover a {
      transform: translateY(0);
      transition-delay: 0.5s;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 120%;
      height: 205%;
      background-color: #2d3436;
      opacity: 0.8;
      transition: all 0.5s;
      transform: translate(55rem, 30rem) rotate(45deg);
    }

    &:hover:before {
      transform: translate(-5rem, -15rem) rotate(45deg);
    }
  }

  &__image-8 {
    background-color: #9be66a;
    width: 45rem;
    height: 30rem;

    display: grid;
    align-items: center;
    justify-self: center;
    position: relative;
    overflow: hidden;

    &-img-8 {
      width: 100%;
    }

    &--caption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: white;
      text-transform: uppercase;
    }

    h2 {
      text-align: center;
      font-size: 1.7rem;
      padding: 2rem;
      margin-top: 2rem;
      background-color: rgba($color: #000000, $alpha: 0.8);
      transform: translateY(-15rem);
      transition: all 0.5s;
    }

    &:hover h2 {
      transform: translateY(0);
      transition-delay: 0.5s;
    }

    p {
      font-size: 1.5rem;
      width: 80%;
      align-self: center;
      text-align: center;
      transition: all 0.5s;
      transform: translateX(30rem) rotate(90deg);
    }

    &:hover p {
      transform: translateX(0) rotate(0);
      transition-delay: 0.5s;
    }

    a {
      text-decoration: none;
      background-color: black;
      color: white;
      width: 20rem;
      padding: 1.5rem;
      margin-bottom: 2rem;
      align-self: center;
      text-align: center;
      transition: all 0.5s;
      transform: translateY(-30rem);
    }

    &:hover a {
      transform: translateY(0);
      transition-delay: 0.5s;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #2d3436;
      opacity: 0.8;
      transition: all 0.5s;
      transform: translate(65rem, -10rem) rotate(180deg);
    }

    &:hover:before {
      transform: translate(0, 0) rotate(0);
    }
  }

  &__image-9 {
    background-color: #eefaaa;
    width: 45rem;
    height: 30rem;
    border: 10px solid white;
    display: grid;
    align-items: center;
    justify-self: center;
    position: relative;
    // overflow: hidden;

    &-img-9 {
      width: 100%;
      transition: all 0.5s;
      transition-delay: 0.5s;
    }

    &:hover img {
      transform: scale(0);
      transition-delay: 0s;
    }

    &--caption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: white;
      text-transform: uppercase;
    }

    h2 {
      text-align: center;
      font-size: 1.7rem;
      padding: 2rem;
      margin-top: 2rem;
      background-color: rgba($color: #000000, $alpha: 0.8);
      opacity: 0;
      transition: all 0.5s;
    }

    &:hover h2 {
      opacity: 1;
      transition: all 0.5s;
      transition-delay: 1s;
    }
    p {
      font-size: 1.5rem;
      width: 80%;
      align-self: center;
      text-align: center;
      transition: all 0.5s;
      opacity: 0;
    }

    &:hover p {
      opacity: 1;
      transition: all 0.5s;
      transition-delay: 1s;
    }

    a {
      text-decoration: none;
      background-color: black;
      color: white;
      width: 20rem;
      padding: 1.5rem;
      margin-bottom: 2rem;
      align-self: center;
      text-align: center;
      transition: all 0.5s;
      opacity: 0;
    }

    &:hover a {
      opacity: 1;
      transition: all 0.5s;
      transition-delay: 1s;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #006266;
      opacity: 0.8;
      transition: all 0.5s;
      transform: scale(0) rotate(-180deg);
      transition: all 0.5s;
    }

    &:hover:before {
      transform: scale(1) rotate(0);
      transition-delay: 0.5s;
    }
  }

  &__image-10 {
    background-color: #6f998e;
    width: 45rem;
    height: 30rem;

    display: grid;
    align-items: center;
    justify-self: center;
    position: relative;
    overflow: hidden;

    &-img-10 {
      width: 100%;
      transition: all 0.5s;
      transition-delay: 0.5s;
    }

    &:hover img {
      transform: scale(0);
      transition-delay: 0s;
    }

    &--caption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: white;
      text-transform: uppercase;
    }

    h2 {
      text-align: center;
      font-size: 1.7rem;
      padding: 2rem;
      margin-top: 2rem;
      background-color: rgba($color: #000000, $alpha: 0.8);
      opacity: 0;
      transition: all 0.5s;
      transform: scale(10);
    }

    &:hover h2 {
      opacity: 1;
      transition: all 0.5s;
      transform: scale(1);
      transition-delay: 0.5s;
    }
    p {
      font-size: 1.5rem;
      width: 80%;
      align-self: center;
      text-align: center;
      transition: all 0.5s;
      opacity: 0;
      transform: scale(10);
    }

    &:hover p {
      opacity: 1;
      transition: all 0.5s;
      transform: scale(1);
      transition-delay: 0.5s;
    }

    a {
      text-decoration: none;
      background-color: black;
      color: white;
      width: 20rem;
      padding: 1.5rem;
      margin-bottom: 2rem;
      align-self: center;
      text-align: center;
      transition: all 0.5s;

      transform: translateY(15rem);
    }

    &:hover a {
      transform: translateY(0);
      transition: all 0.5s;
      transition-delay: 1s;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #006266;
      opacity: 0;
      transition: all 0.5s;
    }

    &:hover:before {
      opacity: 1;
    }
  }

  &__image-11 {
    background-color: #00a479;
    width: 45rem;
    height: 30rem;
    border: 10px solid white;
    display: grid;
    align-items: center;
    justify-self: center;
    position: relative;
    overflow: hidden;

    &-img-11 {
      width: 100%;
      transition: all 0.5s;
      transition-delay: 0.5s;
    }

    &:hover img {
      transform: scale(0) rotate(720deg);
      opacity: 0;
    }

    &--caption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: white;
      text-transform: uppercase;
    }

    h2 {
      text-align: center;
      font-size: 1.7rem;
      padding: 2rem;
      margin-top: 2rem;
      background-color: rgba($color: #000000, $alpha: 0.8);
      opacity: 0;
      transition: all 0.5s;
      transform: translateY(-30rem);
    }

    &:hover h2 {
      opacity: 1;
      transition: all 0.5s;
      transform: translateY(0);
      transition-delay: 0.5s;
    }
    p {
      font-size: 1.5rem;
      width: 80%;
      align-self: center;
      text-align: center;
      transition: all 0.5s;
      opacity: 0;
      transform: translateY(-30rem);
    }

    &:hover p {
      opacity: 1;
      transition: all 0.5s;
      transform: translateY(0);
      transition-delay: 0.7s;
    }

    a {
      text-decoration: none;
      background-color: black;
      color: white;
      width: 20rem;
      padding: 1.5rem;
      margin-bottom: 2rem;
      align-self: center;
      text-align: center;
      transition: all 0.5s;
      transform: translateY(-30rem);
    }

    &:hover a {
      transform: translateY(0);
      transition: all 0.5s;
      transition-delay: 1s;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #006266;
      opacity: 0;
      transition: all 0.5s;
    }

    &:hover:before {
      opacity: 1;
      transition-delay: 0.5s;
    }
  }
  &__image-12 {
    background-color: #656b69;
  }
}
